/********** Template CSS **********/
:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
    --dark1: linear-gradient(to top, #06bbcc 0%, #181d38 100%);
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
    transition: width 5s;
}

/********** Nav logo **********/
.logo {
    display: inline-block;  
    transition: transform 0.3s ease;
}  
.logo:hover {  
    transform: scale(1.2); 
} 
/********** Nav logo **********/

/********** Nav Company Name **********/
.company_name {
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  margin-left: -35px;
  font-family: 'Cormorant SC';
}
.company_name::before,
.company_name::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
.company_name::before {
  background-color: #181d38;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.company_name::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: var(--primary);
}
.company_name:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.company_name:hover::after {
  transform: translate3d(0, 0, 0);
}
.company_name span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.company_name:hover span {
  transform: translate3d(-200%, 0, 0);
}
/********** Nav Company Name **********/

/********** Nav Call Now button **********/
.btn_call span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn_call span:after {
  content: '\2192';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.btn_call:hover span {
  padding-right: 20px;
}

.btn_call:hover span:after {
  opacity: 1;
  right: 0;
}
/********** Nav Call Now button **********/

/********** Bannar button **********/

.btn-bnr{
    transition: transform 0.9s ease-in-out;
}

.btn-bnr:hover {
    transform: translateY(15px);
}
/********** Bannar button **********/

/********** About button **********/
.button_slide {
    color: var(--light);
    background: #2BC5D4;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--primary);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_right:hover {
 /* box-shadow: inset 400px 0 0 0 var(--dark);
  background: var(--dark);*/ 
  box-shadow: inset 220px 0 0 0 var(--dark);
  background: var(--primary);
  color: var(--light);
  border: none;
}

/********** About button **********/

.btn.btn_bnr1{
    color: #F0FBFC;
    background: #06BBCC;
    transition: width 5s;
}

.btn.btn_bnr1:hover{
    width: 220px;
    box-shadow: inset 400px 0 0 0 #F0FBFC;
    color: #06BBCC;
    border: none;
    font-size: 18px;
}

.btn.btn_bnr2{
    color: #181d38;
    background: #F0FBFC;
    transition: width 5s;
}

.btn.btn_bnr2:hover{
    width: 240px;
    box-shadow: inset 400px 0 0 0 #F0FBFC;
    border: none;
}

.btn.btn_bnr3{
    color: #F0FBFC;
    background: #06BBCC ;
/*    transition: width 5s;*/
}
.btn.btn_bnr3:hover{
    background: #F0FBFC ;
    color:#181d38;
}


.btn.btn_bnr4{
    color: #181d38;
    background: #F0FBFC;
}

.btn.btn_bnr4:hover{
    color: #F0FBFC;
    background: #06BBCC;
}

.btn.btn-primary2{
    color: #F0FBFC;
    background: #06BBCC ;
    transition: width 5s;
}

.btn.btn-primary2:hover{
    color: #61696B;
    background: #FFFFFF;
    width: 200px;
}


.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/

.navbar-toggler {
  border:none;
}

.nav_bars {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: var(--primary);
  margin: 6px 0;
  transition: 0.4s;
  margin-left: -10px;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.dropdown-item:hover{
    color: #ffffff;
    background: var(--primary);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {

    .cn{
        margin-left: 500px;
    }
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../imgs/5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service-Item ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}
/*** Service-Item ***/

/*** Services ***/
.services img{
transition: 1s ease;
}

.services a:hover img{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: .5s ease;
}

/*** Services ***/


/*** Packages ***/

.filters ul {
  padding: 0;
}
.filters ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  position: relative;
}
.filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 60px);
  position: absolute;
  height: 2px;
  background: var(--primary);
  transition: width 350ms ease-out;
}
.filters ul li:hover:after {
  width: calc(100% - 60px);
  transition: width 350ms ease-out;
}
.filters ul li.active:after {
  width: calc(100% - 60px);
}
.filters-content .show {
  opacity: 5;
  visibility: visible;
  transition: all 350ms;
}
.filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}
.package-item img {
    transition: .5s;
    /*height: 250px;
    width: 450px;*/
}
.package-item:hover img {
    transform: scale(1.1);
    opacity: 0.5;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.package-item:hover .middle {
  opacity: 1;
}
.package-text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*** Packages ***/


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scaleX(-1);
}
.btn-tm:hover {
    color: var(--primary);
    background: var(--light);
}

/*** Packages ***/


/*** Testimonial ***/

.tes-img{
   
}

.tes-img:hover{
    transform: scale(.9);
}

.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .img-fluid {
    height: 70px;
    width: 200px;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}